@font-face {
    font-family: 'Righteous';
    src: url('/fonts/righteous-regular-webfont.woff2') format('woff2'),
    url('/fonts/righteous-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Italic';
    src: url('/fonts/raleway-italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Thin';
    src: url("/fonts/raleway-thin.ttf"),
    url('/fonts/raleway-thin-webfont.woff2') format('woff2'),
    url('/fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Thin Italic';
    src: url('/fonts/raleway-thin-italic.ttf'),
    url('/fonts/raleway-thin-italic-webfont.woff2') format('woff2'),
    url('/fonts/raleway-thin-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    box-sizing: border-box;
    font-family: 'Raleway', Tahoma, Arial, sans-serif;
    font-size: 100%;
    font-weight: 400;

    --bg-main: rgb(32, 32, 32);
    --text-main: rgb(245, 245, 245);
    --text-secondary: rgb(180, 180, 180);
    --link-col: rgb(77, 120, 240);
    --hover-col: rgb(20, 58, 163);
    --accent-col: rgb(240, 194, 77);
}

html, body, body > div {
    margin: 0;
    color: var(--text-main);
    background: rgb(4, 6, 13);
    background: -moz-radial-gradient(circle, rgba(4, 6, 13, 1) 34%, rgba(22, 17, 5, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(4, 6, 13, 1) 34%, rgba(22, 17, 5, 1) 100%);
    background: radial-gradient(circle, rgba(4, 6, 13, 1) 34%, rgba(22, 17, 5, 1) 100%);
    font-size: 1.1rem;
    background-attachment: fixed;
}

h1, .h1 {
    font-family: 'Righteous', Tahoma, Arial, sans-serif;
    font-size: 3rem;
    color: var(--accent-col);
}

h2, .h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
    margin-bottom: 1.5rem;
    line-height: 2.2rem;
}

h3, .h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    color: var(--link-col);
    text-decoration: none;
    transition: color 200ms ease-out, border 300ms ease;
    border-bottom: 3px solid var(--link-col);
}

a:hover {
    color: var(--hover-col);
    border-bottom: 3px solid var(--hover-col);
}

.quote {
    font-style: italic;
    font-size: 1.8rem;
    padding-left: 1rem;
    color: var(--text-secondary);
}

.quote::before {
    content: '― '
}

article {
    padding: 3rem 0 3rem 0;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(90deg, transparent 10%, var(--bg-main) 50%, transparent 90%) 1;
}

blockquote {
    border-left: 1px solid var(--accent-col);
    margin: 0;
    padding: 0.1rem 2rem;
}

blockquote > p > strong > em {
    color: var(--accent-col);
}

strong {
    font-family: 'Righteous', Tahoma, Arial, sans-serif;
}

p:has(> a > img):has(> em) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

p:has(> a > img):has(> em) a, p:has(> a > img):has(> em) a:hover {
    border-bottom: none;
}

p:has(> a > img):has(> em) img {
    max-width: 100%;
}

a:has(> img) + em {
    font-size: 1rem;
    margin-top: .4rem;
    opacity: .7;
}